<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert new animal</title>
</head>
<body>

	<h1>Form</h1>
    <form action="#" th:action="@{/saveAnimal}" th:object="${animal}" method="post">
    	<p>Name : <input type="text" th:field="*{name}" /></p>
        
        <p>Description : <input type="text" th:field="*{description}" /></p>
       
        <p>
	        <select name="alimentation" th:field="*{alimentation}">
	        	<option value="">Select an alimentation</option>
	        	<option th:each="alimentation : ${alimentations}"
	        	th:value="${alimentation.id}"
	        	th:utext="${alimentation.name}"></option>
	        </select>
        </p>
        
        <p>
        	<select name="location" th:field="*{location}">
	        	<option value="">Select a location</option>
	        	<option th:each="location : ${locations}"
	        	th:value="${location.id}"
	        	th:text="${location.name}"></option>
	        </select>
	    </p>
	        
        
        <p>
	        <select name="classification" th:field="*{classification}">
	        	<option value="">Select a classification</option>
	        	<option th:each="classification : ${classifications}"
	        	th:value="${classification.id}"
	        	th:text="${classification.name}"></option>
	        </select>
	    </p>
               
        <p>Height : <input type="number" th:field="*{height}" /></p>
        
        <p>Weight : <input type="number" th:field="*{weight}" /></p>
        
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    
    <p>Click <a th:href="@{/home}">here</a> to get home.</p>
    
</body>
</html>
