<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/fragments.html :: header"></div>
	<body>
	
		<div th:replace="fragments/fragments.html :: nav_header"></div>
		<div class="container mt-sm-3">
			<h1 th:each="animal: ${animals}" th:text="'Update page for ' + ${animal.name}"></h1>
			
			
							
		    <form action="#" th:action="@{/update}" th:object="${animal}" th:method="post">
		    
		    	<div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" th:field="*{name}" th:placeholder="${animal.name}">
                </div>
		    	
		    	<div class="form-group">
                    <label for="desc">Description</label>
                    <input type="text" class="form-control" th:field="*{description}" th:placeholder="${animal.description}">
                </div>
		        
		        <select class="form-control mb-sm-3" name="alimentation" th:field="*{alimentation}">
		        	<option value="">Select an alimentation</option>
		        	<option th:each="alimentation : ${alimentations}"
		        	th:value="${alimentation.id}"
		        	th:text="${alimentation.name}"></option>
		        </select>
		        
		        <select class="form-control mb-sm-3" name="location" th:field="*{location}">
		        	<option value="">Select a location</option>
			        	<option th:each="location : ${locations}"
			        	th:value="${location.id}"
			        	th:text="${location.name}"></option>
		        </select>
		        
		        <select class="form-control mb-sm-3" name="classification" th:field="*{classification}">
		        	<option value="">Select a classification</option>
			        	<option th:each="classification : ${classifications}"
			        	th:value="${classification.id}"
			        	th:text="${classification.name}"></option>
		        </select>
			    
			    <div class="form-group">
                    <label for="height">Height</label>
                    <input type="number" class="form-control" id="height" th:field="*{height}">
                </div>
			    
			    <div class="form-group">
                    <label for="weight">Weight</label>
                    <input type="number" class="form-control" id="weight" th:field="*{weight}">
                </div>
			    
		        <button type="submit" class="btn btn-primary">Update</button>
		        <button type="reset" class="btn btn-primary">Reset</button>
		    </form>
	    </div>
        <div th:replace="fragments/fragments.html :: scripts">
        </div>
	</body>
</html>
