<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/fragments.html :: header"></div>

    <body>
        
        <div th:replace="fragments/fragments.html :: nav_header"></div>

        <div class="container mt-sm-3">
			<h1 th:each="animal: ${animals}" th:text="${animal.name}"></h1>
			<div id="infos" th:each="animal: ${animals}" class="mt-sm-3">
				<img class="rounded float-right" width="40%" src="https://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/wlds43_654640_2400.jpg">
				<h3>Description</h3>
				<p th:text="${animal.description}"></p>
				<h3>Alimentation</h3>
				<p th:text="${animal.alimentation}"></p>
				<h3>Location</h3>
				<p th:text="${animal.location}"></p>
				<h3>Classification</h3>
				<p th:text="${animal.classification}"></p>
				<h3>Height</h3>
				<p><span th:text="${animal.height}"></span> cm</p>
				<h3>Weight</h3>
				<p><span th:text="${animal.weight}"></span> kg</p>
			</div>
			
		</div>
		<div th:replace="fragments/fragments.html :: scripts"></div>
	</body>
</html>
