<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/fragments.html :: header"></div>
    <body>
        <div th:replace="fragments/fragments.html :: nav_header"></div>
        <div class="container mt-sm-3">
            <h1>Login</h1>
            <div th:if="${param.error}">
	            Invalid username and password.
	        </div>
	        <div th:if="${param.logout}">
	            You have been logged out.
	        </div>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="text" class="form-control" id="inputEmail" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="inputPassword1">Password</label>
                    <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="inputPassword2">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Repeat password">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
              </form>
            
        </div>
        <div th:replace="fragments/fragments.html :: scripts"></div>
    </body>
</html>