<!--  *************** fragment du header *************** -->
<head th:fragment="header2">
<title>Diconimauxxx</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/accueil.css}"
	href="../../css/accueil.css" />
	

</head>

<head th:fragment="header">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link href="../static/css/Layout.css" th:href="@{/css/style.css}" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Diconimaux</title>
</head>


<!--  *************** fragment de la navigation *************** -->
<nav th:fragment="nav_header" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Diconimaux</a>
  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" th:href="@{/formAnimal}">Add</span></a>
      </li>
  </ul>
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" th:href="@{/login}">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" th:href="@{/login}">Register</a>
      </li>
  </ul>
  </div>
</nav>

<div th:fragment="login" class="login">
		<h2>Login</h2>
		 <p>Click <a th:href="@{/login}">here</a> to log on.</p>
		 <p>Click <a th:href="@{/login}">here</a> to sign in.</p>			
</div>

<!--  *************** fragment de navigation *************** -->
<div th:fragment="navigation">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="dropdown" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item dropdown">
        <a class="btn btn-secondary dropdown-toggle" role="button" id="navbarDropdown" href="#" data-toggle="dropdown">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/basic">Concepts de bases</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="/">
        	<span style="text-color:red" th:text="${page}"></span> 
           <span class="sr-only">(current)</span>
        </a>
      </li>
      
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

</div>

<!--  *************** fragment js *************** -->
<span id="scripts" th:fragment="scripts">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</span>
   
    
  