<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:insert="fragments/fragments.html :: header"/>

	<body>

		<!-- <div th:replace="fragments/fragments.html :: navigation"></div> -->
	
		<div class="container">
			<div class="jumbotron">
			  <h1 class="display-4">Dicominaux</h1>
			 
			<h1>Welcome!</h1>

	        <p>Click <a th:href="@{/animals}">here</a> to see all animals.</p>
			</div>
		</div>
		
		<div th:replace="fragments/fragments.html :: scripts"></div>
		
	</body>
</html>